.project{
  padding: 100px 0;
  border-bottom: 2px solid rgba(255,255,255,.75);
}
.comming-soon{
  text-align: center;
  padding: 20px 8px;
  margin: 50px 0;
  background-color: rgba(0, 255, 98, 0.1);
  border-radius: 16px;
  line-height: 1.6;
}
.comming-soon a{
  color: inherit;
  font-weight: bold;
  font-size: 14px;
}